/*==========================================================================================================================================
============================================================================================================================================
----------------------------------------------------THE CLOAK AND DAGGER--------------------------------------------------------------------
============================================================================================================================================
==========================================================================================================================================*/
/*  
    Font: "https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap"
    Color 1: rgb(174, 131, 87)
    Color 2: rgb(238, 218, 182)
    Color 3: rgb(22, 22, 22);
*/
/*==========================================================================================================================================
--------------------------------------------------- LOGO AND BACKGROUND --------------------------------------------------------------------
==========================================================================================================================================*/

#background_div {
    background-image: url(../img/BackgroundImage_left_alt.jpg);
    position: fixed;
    height: 100%;
    width: 50%;
    margin-left: 0;
    margin-top: 0;
}
body {
    background-color: rgb(174, 131, 87);
    font-family: "Goudy Bookletter 1911", serif;
}
#logo_pic {
    height: 15em;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
#main_div {
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 0.5em;
}
/*==========================================================================================================================================
------------------------------------------------- "COMING SOON" TEXT BOX -------------------------------------------------------------------
==========================================================================================================================================*/
a {
    text-decoration: none;
}
#blackbox {
    background-color: rgb(22, 22, 22);
    width: 35%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    padding: 1em;
}
#coming_soon {
    width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
#facebook {
    height: 2.5em;
    margin-right: 1.5em;
}
#instagram {
    height: 2.5em;
}
.klaviyo-form-RBSHP6 {
    position: relative;
    height: auto;
    width: 100%;
    z-index: 10;
    left: 0;
    background-color: rgb(22,22,22);
}
#newsletter_header {
    margin-bottom: 0;
    font-size: 1.35em;
    margin-top: 1.25em;
}
#line {
    height: 1.5px;
    background-color: rgb(174, 131, 87);
    border: none;
}
#address {
    margin-bottom: 1.5em;
}
p {
    color: rgb(238, 218, 182);
    font-size: 1.25em;
    font-weight: 60;
}
#socials {
    height: auto;
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1.25em;
}
#text {
    color: rgb(174, 131, 87);
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5em;
    font-weight: 60;
}
#text_box {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}
#thanks {
    font-size: 1.2em;
}
#temp_button {
    margin-top: 1em;
}
#email_list_text {
    margin-top: 1em;
}
#email_list_button {
    margin-top: 1em;
}

/*==========================================================================================================================================
-------------------------------------------------- MEDIA QUERY: MOBILE/LANDSCAPE -----------------------------------------------------------
==========================================================================================================================================*/
@media all and (max-width: 1080px) {
    #background_div {
        background-image: url(../img/BackgroundImage_left_tablet.png);
        height: 100%;
        width: 50%;
    }
    #blackbox {
        width: 70%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }
    #facebook {
        margin-top: 0.5em;
    }
    #instagram {
        margin-top: 0.5em;
    }

    #logo_pic {
        height: 17em;
    }

    p {
        font-size: 1.3em;
    }
    #text {
        font-size: 1.3em;
    }
    #text-box {
        width: 90%;
    }
}
/*==========================================================================================================================================
------------------------------------------------------ MEDIA QUERY: MOBILE -----------------------------------------------------------------
==========================================================================================================================================*/
@media all and (max-width: 500px) {
    #background_div {
        background-image: url(../img/BackgroundImage_left_mobile.png);
        height: 100%;
        width: 50%;
    }
    #logo_pic {
        height: 8em;
        margin-bottom: -0.75em;
    }
    p {
        font-size: 1em;
        margin-top: 2em;
    }
    #text {
        font-size: 1em;
    }
    #text-box {
        margin-bottom: 1em;
    }
}
